@import "../global.css";
@import "../components/button.css";
@import "../components/loader.css";

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 150px;
}

body.dismiss {
display: none;
}