@import "../../styles/global.css";

body {
    display: flex;
    flex-direction: row;
}

textarea {
    resize: none;
    outline: none;
    border: none;
    border-right: 1px solid var(--border-color);
    font-size: medium;
}

textarea, #md-container {
    width: 50%;
    height: 100%;
    padding: 8px;
}